nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4% 24px 0 4%;
  background-color: #f5eee5;
  flex-shrink: 0;
}

.logo img {
  width: 16%;
}

.small-logo-title h2 {
  font-family: "Boldonse", system-ui;
  font-weight: 900;
  color: #1a1a1a;
  position: absolute;
  left: 20%;
  margin: 5px 0;
}
